
#top {
    position: relative;
   background-color: rgba(0, 0, 0, 0.5);
 
    align-items: center; 

    padding: 5px;

    margin: 0px 0px 50px 0px;
    
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-image:linear-gradient(90deg, black, rgba(255, 255, 255,0.5));
    /*background-color: rgba(255, 255, 255,0.5);*/
    padding: 5px;
/*    width: 250px;
    height: 700px;*/
    width: 250px;
    height: auto;
}

#right {
    float: right;
    background-color: rgba(136, 136, 136, 0.5);
    padding: 5px;
    width: 210px;
}

.center_content {
    position: relative;
    background-color: rgba(119, 80, 46, 0.5);
    padding: 5px;
}

.left_content {
    /*background-image:linear-gradient(90deg,rgba(255, 255, 255,0.5), white, rgba(255, 255, 255,0.5));*/
    /*background-color: rgba(255, 255, 255,0.5);*/
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: black;
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 60px;;
    

    
}

.right_content {
    background-color: rgba(119, 80, 46, 0.5);
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
/*  background-color:#503512;  cambia toda el aria de los botones*/
   
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
/*   background-color: blue; / modfica el color cuando se le pone el raton en sima del botn de la barra*/
}


/*tabla de informacion css*/


.ui-datatable tbody td {
  /*modifica las celdas*/
    border-color: inherit;
}

.ui-widget-content {
  /*modifica el contenido de la tabla*/
    /*background-image:linear-gradient(90deg,rgba(77, 38, 0,0.5), rgba(153, 77, 0,0.5), rgba(77, 38, 0,0.5));*/
    /*background-image:linear-gradient(90deg,rgba(115, 153, 0,1), rgba(115, 153, 0,1), rgba(115, 153, 0,1));*/
    background-color: rgba(255,255,255,0);
 
    font-size: 16px;
    border-color: rgba(0,0,0,0);
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

.ui-widget-content .ui-widget-content {
/*  modifica el contenido de la tabla*/
/*    background-image:linear-gradient(90deg,rgba(77, 38, 0,0.5), rgba(153, 77, 0,0.5), rgba(77, 38, 0,0.5));
    background-color: rgba(83,72,63,0.1);*/
/*     background-color: #DEB887; */
    font-size: 16px;
    border-color: rgba(0,0,0,0);
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
  
}


.ui-widget-content  .ui-datatable td {
/*  modifica el contenido de la tabla*/
    /*background-image:linear-gradient(90deg,rgba(77, 38, 0,0.5), rgba(153, 77, 0,0.5), rgba(77, 38, 0,0.5));*/
    background-color: rgba(139,215,202,1);

    font-size: 16px;
    border-color: rgba(0,0,0,1);
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    color: black;
  
}

input{
  /*background-color: rgba(83,72,63,0.5);*/
  background-color: rgba(0,0,0,0);
  font-size: 16px;
  border-color: rgba(25,25,25,0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;

}

.ui-widget-header {
    border: 1px solid rgba(0,0,0,1) ;
    background: rgba(0,0,0,0) url(/CoffeChip/faces/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png?ln=primefaces-aristo) 50% 50% repeat-x;
    /*background: rgba(0,0,0,1) linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));*/
    background: rgba(191,147,88,1) -webkit-gradient(linear,left top,left bottom,from(rgba(0, 0, 0,0)),to(rgba(0, 0, 0, 0)));
    /*background: rgba(0,0,0,1) -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));*/
    color: rgba(0,255,0,1);
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7);
}


.ui-widget-content .ui-state-default {
     border-bottom: 1px solid rgba(0,0,0,1);
    border-top: 1px solid rgba(0,0,0,1);
    border-left: 1px solid rgba(0,0,0,1);
    border-right: 1px solid rgba(0,0,0,1);
/*    background-color: rgba(191,147,88,1);*/
    /*----------------------el siguiente santy lo comento*/
    /*background: rgba(0,0,0,0) url(/CoffeChip/faces/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png?ln=primefaces-aristo) 50% 50% repeat-x;*/
    /*background: rgba(0,0,0,1) linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));*/
    /*---------------------------el siguiente santy lo comente*/
    background: rgba(191,147,88,1) -webkit-gradient(linear,left top,left bottom,from(rgba(66, 62, 10, 0)),to(rgba(66, 62, 10, 0)));
    /*background: rgba(0,0,0,1) -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));*/
    /*background-image:linear-gradient(90deg,rgba(0, 0, 0,1), rgba(0, 0, 0,1));*/
    font-weight: bold;
    color: white;
    text-shadow: 0 0px 0 rgba(255, 253, 253, 0.7);
}


