
#top {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center; 

    padding: 5px;

    margin: 0px 0px 50px 0px;
    
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: rgba(255, 255, 255,0.5);
    padding: 5px;
/*    width: 250px;
    height: 700px;*/
    width: 250px;
    height: auto;
}

#right {
    float: right;
    background-color: rgba(136, 136, 136, 0.5);
    padding: 5px;
    width: 210px;
}

.center_content {
    position: relative;
    background-color: rgba(119, 80, 46, 0.5);
    padding: 5px;
}

.left_content {
     background-color: rgba(119, 80, 46, 0.5);
    padding: 5px;
    color: black;
    margin-left: 300px;
    margin-right: 60px;
    
}

.right_content {
     background-color: rgba(119, 80, 46, 0.5);
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


